@tailwind components;

@layer components {
  .clean-btn {
    @apply appearance-none no-underline cursor-pointer font-inherit;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      @apply hidden;
    }
  }

  .is-textured {
    background-image: radial-gradient(var(--pageText) 9%, transparent 9%),
      radial-gradient(var(--pageText) 9%, transparent 9%);
    background-position: 0 0, 8px 8px;
    background-size: 16px 16px;
  }

  .is-textured-dark {
    background-color: var(--pageText);
    background-image: radial-gradient(var(--pageBG) 9%, transparent 9%),
      radial-gradient(var(--pageBG) 9%, transparent 9%);
    background-position: 0 0, 8px 8px;
    background-size: 16px 16px;
  }

  .is-houndstooth {
    animation: moveBGDiagonal 80s linear infinite;
    background-image: url("/houndstooth.svg");
    background-size: 100px 100px;
    background-repeat: repeat;
  }
  .is-checkered {
    @apply h-150 p-0;
    animation: moveBGLeft 60s linear infinite;
    background-image: url("/checkered.svg");
    background-size: 100px 100px;
    background-repeat: repeat;
  }
  .is-nora {
    animation: moveBGDiagonalLeft 70s linear infinite;
    background-image: url("/palette.svg");
    background-size: 550px 220px;
    background-repeat: repeat;
  }
  .is-squiggle {
    animation: moveBGRight 30s linear infinite;
    background-image: url("/squiggle.svg");
    background-size: 500px 150px;
    background-repeat: repeat;
  }
  .is-blur {
    @apply backdrop-blur-2xl;
  }
  .is-wood {
    animation: moveBGRight 50s linear infinite;
    background-image: url("/wood.svg");
    background-size: 2200px 600px;
    background-position: 50% 0;
    background-repeat: repeat;
  }

  .move-bg {
    animation: moveBGDiagonal 45s linear infinite;
  }

  @keyframes moveBGDiagonal {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 200%;
    }
  }
  @keyframes moveBGDiagonalLeft {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: -100% 100%;
    }
  }

  @keyframes moveBGLeft {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: -100% 0%;
    }
  }
  @keyframes moveBGRight {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }

  .has-indicator {
    &::before {
      @apply inline-block mr-8 rounded-full border w-10 h-10;
      content: "";
    }

    &.is-open,
    .is-open &,
    &.is-active {
      &::before {
        @apply bg-pageText;
        animation: pulse 2s infinite;
      }
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 hsla(var(--pageText-hsl), 0.3);
  }
  70% {
    box-shadow: 0 0 0 8px hsla(var(--pageText-hsl), 0);
  }
  100% {
    box-shadow: 0 0 0 0 hsla(var(--pageText-hsl), 0);
  }
}
