.hero {
  @apply grid relative overflow-hidden min-h-screen bg-brown;
  min-height: calc(var(--vh, 1vh) * 100);

  @media (max-height: 500px) {
    min-height: 500px;
  }

  &--bg {
    @apply z-1 relative w-full h-full;
    grid-area: 1/-1;

    &.is-desktop {
      @apply hidden sm:block;
    }

    &.is-mobile {
      @apply sm:hidden;
    }

    &.is-fixed {
      @apply fixed inset-0;
    }
  }

  &--video-placeholder {
    @apply z-0 relative w-full h-screen;
    &.is-fixed {
      @apply fixed inset-0;
    }
    .ar {
      @apply h-screen;
    }
  }

  &--overlay {
    @apply z-2 flex flex-col;
    grid-area: 1/-1;
  }

  &--content {
    @apply w-full max-w-sm sm:max-w-2xl mx-auto px-4 text-center text-white text-32;
    padding-top: calc(var(--headerHeight) + 2rem);
    padding-bottom: var(--headerHeight);
    @media (max-width: 600px) {
      padding-top: calc(var(--headerHeight) + 8rem);
    }
    p {
      @apply text-18 sm:text-30 leading-130;
    }
  }
}
