:root {

  --orange: #e34430;
  --black: #20231f;
  --white: #fff;
  --font-family-heading: "Dela Gothic One", cursive;
  --font-family-san-serif: "Inter", "Helvetica Neue", sans-serif;
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 16px;

  --spacing-s: 0.3125rem;
  --spacing-m: 0.625rem;
  --spacing-l: 1.25rem;
  --spacing-xl: 2.5rem;

}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--orange);
  color: var(--white);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
