@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#p5_loading {
  visibility: hidden;
}

@font-face {
  font-family: "DelaGothicOne";
  src: url("/fonts/DelaGothicOne-Regular.woff2") format("woff2"),
    url("/fonts/DelaGothicOne-Regular.ttf") format("truetype"),
    url("/fonts/DelaGothicOne-Regular.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Sharp Grotesk";
  src: url("/fonts/SharpGrotesk/SharpGroteskBold-25.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Courier Sans";
  src: url("/fonts/CourierSans/CourierSansLLWeb-Bold.woff2") format("woff2"),
    url("/fonts/CourierSans/CourierSansLLWeb-Bold.woff") format("woff");
}
