@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "DelaGothicOne";
  src: url("/fonts/DelaGothicOne-Regular.ttf") format("truetype"),
    url("/fonts/DelaGothicOne-Regular.woff") format("woff"),
    url("/fonts/DelaGothicOne-Regular.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Courier Sans";
  src: url("/fonts/CourierSans/CourierSansLLWebTrial-Regular.woff2")
    format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Courier Sans";
  src: url("/fonts/CourierSans/CourierSansLLWebTrial-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Courier Sans";
  src: url("/fonts/CourierSans/CourierSansLLWebTrial-BoldItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Courier Sans";
  src: url("/fonts/CourierSans/CourierSansLLWebTrial-Light.woff2")
    format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Courier Sans";
  src: url("/fonts/CourierSans/CourierSansLLWebTrial-LightItalic.woff2")
    format("woff2");
  font-weight: 200;
  font-style: italic;
}
